@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

.banner {
    width: 15%;
    margin: 0;
    display: block;
}

button.header {
    background-color:  black;
    color: white;
    border: 0.1em solid;
    border-color: black;
    border-radius: 0.4em;
    line-height: 2em;
    width: 10em;
    margin: 1em;
    font-size: 1.5em;
    outline:none;
    margin-top: 2em;
}

button:hover {
    cursor:pointer;
    transform: scale(1.2);
}

.cen {
    text-align:center;
}

.oDiv {
    width: 100%;
    align-content: right;
    display: flex;
    flex-direction: row;
}


  
