/*
  https://developer.mozilla.org/en/docs/Web/CSS/box-shadow
  box-shadow: [inset?] [top] [left] [blur] [size] [color];

  Tips:
    - We're setting all the blurs to 0 since we want a solid fill.
    - Add the inset keyword so the box-shadow is on the inside of the element
    - Animating the inset shadow on hover looks like the element is filling in from whatever side you specify ([top] and [left] accept negative values to become [bottom] and [right])
    - Multiple shadows can be stacked
    - If you're animating multiple shadows, be sure to keep the same number of shadows so the animation is smooth. Otherwise, you'll get something choppy.
*/

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

.outerDiv{
    display: flex;
    font-family: 'Courier Prime', monospace;
    flex-direction: column;
    margin-left: 5em;
}

.row {
    flex-direction: row;
}

.keyArea {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hiddenFile {
    display: none;
}

.center {
    text-align: center;
}

.borderedDiv {
    border: 0.2em solid;
    border-color: black;
    border-radius: 0.4em;
    padding-left: 1.2em;
    margin-top: 3em;
    width: 45em;
    margin-bottom: 2em;
    margin-left: 2em;
    margin-right: 2em;
    height: 20em;
}

.halfwidth {
    width: 30em;
}

.bold {
    font-weight: bolder;
}

.under {
    text-decoration-line: underline;
}

.italic {
    font-style: italic;
}

button {
  background-color:  transparent;
  color: black;
  border: 0.1em solid;
  border-color: black;
  border-radius: 0.4em;
  line-height: 4em;
  width: 10em;
  margin: 1em;
  font-size: 1.5em;
  outline:none;
}

button.mini {
    background-color:  black;
    color: white;
    border-radius: 0.9em;
    line-height:1.5em;
    font-size:0.8em;
    outline:none;
    margin-left: 0.3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
}

button:hover {
    cursor:pointer;
    transform: scale(1.2);
}

p {
    font-size: 1.3em;
    line-height: 1.5em;
}

h1 {
    text-align: center;
}

.textField {
    outline: none;
    box-shadow: none;
    border-radius: 0.6em;
    border-style: 0.1em solid;
    border-color: black;
    background-color: transparent;
}

.textField:focus {
    background-color: lightblue;
    outline: none;
}

.green {
    color: green;
}

.red {
    color: red;
}

.oldLink {
    color: blue;
    text-decoration: underline;
}

.oldLink:hover {
    cursor: pointer;
}

.oldLink:active {
    color: rgb(58, 58, 126);
}

.oldLink:visited {
    color: rgb(58, 58, 126);
}