.bottomCard {
    position: absolute;
    bottom: 0;
    text-align: center;
    left: -7%;
    width: 100%;
    padding-bottom: 1.5em;
    font-size: 2em;
}

.greenText {
    color:#06b90f;
}

.blackText {
    color: black;
}

.adminTitle {
    text-align: center;
    width:85%;
}