.blobOuter {
    border: 0.2em solid;
    border-color: black;
    border-radius: 0.4em;
    margin: 1em;
    width: 100%;
    font-size:0.8em;
}

.settlementPopup {
    background-color: grey;
    border-radius: 1em;
    border: none;
    position: fixed;
    width: auto;
    height: auto;
    z-index: 2;
}

.center {
    text-align: center;
}

.largeP {
    font-size:1.5em;
    font-weight: bold;
}

.smaller {
    font-size:0.7em;
}

button {
    background-color:  transparent;
    color: black;
    border: 0.1em solid;
    border-color: black;
    border-radius: 0.4em;
    line-height: 4em;
    width: 10em;
    margin: 1em;
    font-size: 1.5em;
    outline:none;
}
  
button.mini {
    background-color:  black;
    color: white;
    border-radius: 0.9em;
    line-height:1.5em;
    font-size:0.8em;
    outline:none;
    margin-left: 0.3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
}
  
button:hover {
    cursor:pointer;
    transform: scale(1.2);
}

p {
    padding: 0;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    text-align: left;
    margin-left: 1em;
}

h1 {
    font-weight: normal;
}

.blobTable {
    width: 100%;
}

.leftAlign {
    text-align: left;
}

.smaller {
    font-size: 0.75em;
}

.width50 {
    width: 50%;
}

.width20 {
    width: 20%;
}

.width40 {
    width: 40%;
}

.width60 {
    width: 60%;
}

.green {
    color:green;
}

.grey {
    color: grey;
}

.red {
    color: red;
}

.black {
    color: black;
}

.yellow {
    color: rgb(184, 147, 28);
}

.bgGrey {
    background-color: grey !important;
}

.rightAlign {
    text-align: right;
}

.under {
    text-decoration: underline;
}