 .outer {
    float:left;
    position: relative;
    width: 40%;
    padding-bottom : 10%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    border-radius: 1em;
    overflow:hidden;
}

.inner {
    position: relative;
    text-align: center;
}

.green {
    background-image: linear-gradient(#06b90f, #bdfdbf);
}

.red {
    background-image:linear-gradient(#d41212, #fc9d9d);
}
