/*
  https://developer.mozilla.org/en/docs/Web/CSS/box-shadow
  box-shadow: [inset?] [top] [left] [blur] [size] [color];

  Tips:
    - We're setting all the blurs to 0 since we want a solid fill.
    - Add the inset keyword so the box-shadow is on the inside of the element
    - Animating the inset shadow on hover looks like the element is filling in from whatever side you specify ([top] and [left] accept negative values to become [bottom] and [right])
    - Multiple shadows can be stacked
    - If you're animating multiple shadows, be sure to keep the same number of shadows so the animation is smooth. Otherwise, you'll get something choppy.
*/

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

.outerDiv{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: 'Courier Prime', monospace;
    width: 85%;
}

.upper {
    top: 33%;
}

.keyArea {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hiddenFile {
    display: none;
}

.center {
    text-align: center;
}

.borderedDiv {
    border: 0.2em solid;
    border-color: black;
    border-radius: 0.4em;
    padding-left: 15%;
    margin-right:10%;
    margin-left:10%;
    margin-top: 6em;
}

button {
  background-color:  white;
  color: black;
  border: 0.1em solid;
  border-color: black;
  border-radius: 0.4em;
  line-height: 4em;
  width: 10em;
  margin: 1em;
  font-size: 1.5em;
  outline:none;
}

button:hover {
    cursor:pointer;
    transform: scale(1.2);
}

p {
    font-size: 1.3em;
}

h1 {
    text-align: center;
}

.textField {
    outline: none;
    box-shadow: none;
    border-radius: 1em;
    border-style: 0.1em solid;
    border-color: black;
}

.textField:focus {
    background-color: lightblue;
    outline: none;
}

.green {
    color: green;
}

.red {
    color: red;
}

.oldLink {
    color: blue;
    text-decoration: underline;
}

.oldLink:hover {
    cursor: pointer;
}