@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

.container {
    position: absolute;
    min-width: 100%;
    min-height:100%;
}
.top_lvl {
    max-width: calc(768px + 16px * 2);
    margin: 0 auto;
    display: flex;
    min-height: 100%;
    padding: 0 16px;
    flex-direction: column;
    font-size: 12px;
}

/*@media only screen and (max-height: 730px) {
    .top_lvl {
        font-size: 10px !important;
    } 
}*/